{% extends showroom.isPreviewActive ? 'layout_preview.html.twig' : 'layout_base.html.twig' %}

{% block body %}
    {% block header %}
        {{ display_component('components/header.html.twig', {}, 'App\\Controller\\LayoutController::viewHeader', true ) }}
    {% endblock %}

    <main id="main" role="main">
        {% block content %}
        {% endblock %}
    </main>

    {% block footer %}
        {{ display_component('components/footer.html.twig', {}, 'App\\Controller\\LayoutController::viewFooter', true ) }}
    {% endblock %}
{% endblock %}
