{% extends 'static/layout.html.twig' %}
{% block content %}
    <article>
        <h1>Audio</h1>
        <h2>Example</h2>
        {# @fake var1 audio #}
        {# @fake var2 audio({'imageVariationName': 'large'}) #}
        {# @fake var3 audio('large') #}
        <pre>
            <code>
&#123;# @fake var audio #&#125;
&#123;# @fake var audio({'imageVariationName': 'large'}) #&#125;
&#123;# @fake var audio('large'}) #&#125;

&lt;p&gt;&lt;b&gt;Title :&lt;/b&gt;&#123; var.title }}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Audio :&lt;/b&gt;
    &#123;% include &#39;static/helper/audio.html.twig&#39; with &#123;audio: var} only %}
&lt;/p&gt;
            </code>
        </pre>
        <p><b>Title :</b> {{ var1.title }}</p>
        <p><b>Audio :</b>
            {% include 'static/helper/audio.html.twig' with {audio: var1} only %}
        </p>
    </article>
{% endblock %}
