{% extends 'static/layout.html.twig' %}
{% block content %}
    <article>
        <h1>Coordinates</h1>
        <h2>Example</h2>
        {# @fake var coordinates #}
        <pre>
            <code>
&#123;# @fake var coordinates #&#125;

&lt;p&gt;&lt;b&gt;latitude :&lt;/b&gt; &#123;&#123; var.latitude }}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;longitude :&lt;/b&gt; &#123;&#123; var.longitude }}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;address :&lt;/b&gt; &#123;&#123; var.address }}&lt;/p&gt;
            </code>
        </pre>
        <p><b>latitude :</b> {{ var.latitude }}</p>
        <p><b>longitude :</b> {{ var.longitude }}</p>
        <p><b>address :</b> {{ var.address }}</p>
    </article>
{% endblock %}
