<div class="row g-2 border-top m-2">
    {# @fake var9 coordinates #}
    <div class="col-5 ">
        <div class="border bg-light g-2 p-2">
            <code class="chroma">
                &#123;# @fake var coordinates #&#125;<br/>
                &#123;&#123; var &#125;&#125;
            </code>
        </div>
    </div>
    <div class="col">
        {{ dump(var9) }}
    </div>
</div>
