{% extends 'static/layout.html.twig' %}
{% block content %}
<article>
    <h1>Link</h1>
    <h2>Example</h2>
    {# @fake var1 link #}
    {# @fake var2 link({'target': '_blank'}) #}
    {# @fake var3 link('_blank') #}
        <pre>
            <code>
&#123;# @fake link link #&#125;
&#123;# @fake link_blank link(&#123;&#39;target&#39;: &#39;_blank&#39;&#125;) #&#125;
&#123;# @fake link_blank link(&#39;_blank&#39;) #&#125;

&#123;% import &#39;static/helper/macros.html.twig&#39; as macros %}
&lt;ul class=&quot;nav flex-column&quot;&gt;
    &lt;li class=&quot;nav-item&quot;&gt;link : &#123;&#123; macros.display_menu_item(var1) }}&lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;blank link : &#123;&#123; macros.display_menu_item(var3) }}&lt;/li&gt;
&lt;/ul&gt;
            </code>
        </pre>
        {% import 'static/helper/macros.html.twig' as macros %}
        <ul class="nav flex-column">
            <li class="nav-item">link : {{ macros.display_menu_item(var1) }}</li>
            <li class="nav-item">blank link : {{ macros.display_menu_item(var3) }}</li>
        </ul>
</article>
{% endblock %}
